* {
    -webkit-tap-highlight-color: transparent;
    font-family: Vazir, serif;
    letter-spacing: unset !important;
}

input[type=number]::-webkit-inner-spin-button,
input[type=number]::-webkit-outer-spin-button {
    -webkit-appearance: none;
    margin: 0;
}

input[type=number] {
    -moz-appearance: textfield;
}

@font-face {
    font-family: Vazir;
    src: url('@/../public/fonts/Vazir-Regular.ttf');
    font-weight: 100;
    font-style: normal;
}

@font-face {
    font-family: rYekan;
    src: url("@/../public/fonts/yeknBakh/Yekan Bakh FaNum 04 Regular.woff") format('woff');
    src: url("@/../public/fonts/yeknBakh/Yekan Bakh FaNum 04 Regular.eot");
    src: url("@/../public/fonts/yeknBakh/Yekan Bakh FaNum 04 Regular.ttf") format('truetype');
}

body, #app {
    background-color: #e4ecf9!important;
}

.formText {
    font-weight: bolder;
    font-family: rYekan !important;
}

.btnNext {
    background-color: green;
    box-shadow: 0px 0px 30px 9px rgba(38, 45, 58, 0.22);
    border-radius: 200px;
    color: #DAE6FC;
}

.returnTxt {
    border-bottom: 1px solid #45536D;
    font-size: 12px;
    font-weight: 400;
}

.copyTxt {
    color: #6F6C90;
    font-size: 12px;
}

.inputStyle {
    background: linear-gradient(0deg, #FFFFFF, #FFFFFF), #DAE6FB;
    border: 1px solid #EFF0F7;
    box-shadow: 0px 2px 6px rgba(19, 18, 66, 0.07);
    border-radius: 40px;
}

.roundedStyle {
    background: #FFFFFF;
    box-shadow: 0px 0px 49px 7px rgba(0, 0, 0, 0.15);
    border-radius: 20px;
}

.names {
    background: #FF2439;
}

.txtAreaDesign {
    background: linear-gradient(0deg, #FFFFFF, #FFFFFF), #DAE6FB;
    border: 1px solid #EFF0F7;
    box-shadow: 0px 2px 6px rgba(19, 18, 66, 0.07);
    border-radius: 20px;
}
